.bill{
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
    margin: 5px 0;
}

.bill .user_details{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bill .user_details img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
    margin-right: 10px;
}

.bill p{
    text-align: left;
}

.buttonContainer{
    display: flex;
    justify-content: center; 
    align-items: space-evenly;
}

.badge{
    border: 2px solid gray;
    border-radius: 24% 21% 21% 25% / 50% 49% 52% 52% ;
    aspect-ratio: 3/1;
    padding: 5px;
    margin-left: auto;
}

@media only screen and (max-width:480px){
    #sub > div.bottom.right > div > img  {
        max-width: 100%;
    }
}