#event{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

#event .list-of-subevents{
    width: 25vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;
}

#event .list-of-subevents .create-sub-event-container{
    display: flex;
    margin-top: auto;
    margin-bottom: 10px;
}

#event .mainscreen{
    flex: 1;
    padding: 20px;
    overflow-y: scroll;
}



#event .mainscreen .top{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}


#event .mainscreen .top img{
    border-radius: 20px;
    width: 200px;
    aspect-ratio: 3/4;
    object-fit: cover;
}


#event .mainscreen .top .right{
    text-align: left;
    margin: 20px;
}

#event .mainscreen .bottom{
    background-color: #F3FCE9;
    height: 55vh;
    padding: 20px;
    border-radius: 20px;
}

#event > div.mainscreen > div{
    background-color: #F3FCE9;
    margin-top: 10px;
    padding: 20px;
    border-radius: 20px;
}

.sub-event{
    background-color: #A6BF6F;
    margin: 10px 5px;
    width: 90%;
    height: 100px;
    padding: 5px 17px;
    bottom: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: flex-start;
    align-items: center;
    position: relative;
    border-radius: 20px;
    text-align: left;
}

.sub-event h3{
    font-family: "Inter", sans-serif;
    
}

.sub-event p{
    font-family: "Fredoka", sans-serif;
    color: #d9e7c8;
    line-height: 1;
    letter-spacing: 1;
}

.sub-event h3,.sub-event p{
    margin: 0;
}

.sub-event img{
    width: 80px;
    height: 80px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 100%;
    overflow: hidden;
}


.sub-event img+.right{
    max-width: 70%;
    overflow: hidden;
    margin-left: 20px;
    text-align: left;
}
#event .mainscreen .top .right h1,#event .mainscreen .top .right p{
    margin: 0;
}

#event .mainscreen .top .right h1{
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 2rem;
}

#event .mainscreen .top .right p{
    font-family: "Fredoka", sans-serif;
    color: rgb(165, 159, 159);
    font-size: 1.3rem;
    letter-spacing: 2;
}

#event .mainscreen .top .bulu,#event .mainscreen .top .status{
    width: 45%;
    border-radius: 20px;
    height: 300px;
    padding: 10px;
    margin: 5px;
    background-color: #F3FCE9;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

#event .mainscreen .top .status.volun{
    align-items: center;
    flex-direction: column;
}


#sub{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

#sub  .top.left{
    display: flex;
    flex-direction: column;
    
}

#sub  .top.left .bulu,#sub  .top.left .status{
    width: 90%;
}

#sub .mainscreen .top.left,#event .mainscreen .bottom.right{
    width: 45%;
    height: 100%;

}

#event .mainscreen .bottom.right{
    max-height: 90vh;
    min-height: 90vh;
    overflow-y: scroll;
}

#event top .right h1, #event .mainscreen .top .right p.desc,#event top .right h1, #event .mainscreen .top .right p.evm{
    font-size: 1rem;
}

.bijuku{
    width: 200px;
    height: 200px;
    object-fit: contain;
}
.bijuku p{
    font-size: 2rem;
}

.show-sub{
    position: absolute;
    bottom:20px;
    right: 20px;
    z-index: 1002;
    padding: 10px ;
    color: #fff;
    background-color: #A6BF6F;
    border: none;
    border-radius: 10px;
}

.participants{
    overflow-x: auto;
}


#event > div.mainscreen > div > table{
    width: 100%; 
    text-align: left;   
}


#event > div.mainscreen > div > table{
    margin-top: 5px;
}


@media only screen and (max-width:800px){
    .list-of-subevents{
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100vw;
        height: 100vh;
        z-index: 999;
        background-color: #fff;
    }
}

@media only screen and (max-width:690px){
    #sub{
        flex-direction: column;
    }
    #sub > div.bottom.right{
        min-width:  80vw;
    }
}



@media only screen and (max-width:600px){
    #event > div.mainscreen > div.top{
        flex-direction: column;
    }
    #event > div.mainscreen > div.top > div.bulu,#event > div.mainscreen > div.top > div.status{
        width: 100%;
    }
}

@media only screen and (max-width:433px){
    #event > div.mainscreen > div.top > div.bulu > img{
        width: 150px;
    }
    #event > div.mainscreen > div.top > div.bulu > div > p{
        font-size: 1rem;
    }
}